<<<<<<< HEAD
body{
    font-family: Arial;
    padding:20px;
}

form{
    display:flex;
    flex-direction:column;
    width:300px;
    gap:10px;
}

input{
    padding:10px;
}

button{
    padding:10px;
=======
body {
  font-family: Arial;
  text-align: center;
}

input {
  margin: 5px;
  padding: 8px;
}

footer {
  margin-top: 40px;
  background: #eee;
  padding: 10px;
>>>>>>> f9dd5d021fea218b998bd4d7480335e9968cb39f
}